In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# CSVファイルを読み込む
df = pd.read_csv("/home/eiji/project/g/data/TON_iot/Processed_IoT_dataset/IoT_Thermostat.csv")
df

,date,time,current_temperature,thermostat_status,label,type
0,31-Mar-19,12:36:52,25.000000,0,0,normal
1,31-Mar-19,12:36:53,25.000000,0,0,normal
2,31-Mar-19,12:36:54,25.000000,0,0,normal
3,31-Mar-19,12:36:55,25.000000,0,0,normal
4,31-Mar-19,12:36:56,25.000000,0,0,normal
...,...,...,...,...,...,...
442223,27-Apr-19,12:41:14,29.804525,1,0,normal
442224,27-Apr-19,12:41:18,25.824332,1,0,normal
442225,27-Apr-19,12:41:19,27.248819,1,0,normal
442226,27-Apr-19,12:41:19,29.739201,1,0,normal
442227,27-Apr-19,12:41:20,29.658987,1,0,normal

In [2]:

# OneHotEncoderのインスタンスを作成
encoder = OneHotEncoder(sparse=False)

# ワンホットエンコーディングを適用
encoded = encoder.fit_transform(df[['thermostat_status']])
encoded_df = pd.DataFrame(encoded, columns=encoder.get_feature_names_out())
# 結果の確認
print(encoded_df.head())

df_combined = pd.concat([df, encoded_df], axis=1)

   thermostat_status_0  thermostat_status_1
0                  1.0                  0.0
1                  1.0                  0.0
2                  1.0                  0.0
3                  1.0                  0.0
4                  1.0                  0.0

/home/eiji/miniconda3/envs/tf/lib/python3.9/site-packages/sklearn/preprocessing/_encoders.py:972: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

# 時間

In [3]:
df_combined['time'] = df_combined['time'].str.strip()

In [4]:
df_combined['time']  = pd.to_datetime(df_combined['time'], format='%H:%M:%S').dt.time

In [5]:
df = df_combined

In [6]:
df['hour'] = df['time'].apply(lambda x: x.hour)
df['minute'] = df['time'].apply(lambda x: x.minute)
df['second'] = df['time'].apply(lambda x: x.second)

In [7]:
df = df.drop(columns=['date', 'time', 'thermostat_status', 'type'])

In [10]:
new_order = ['hour', 'minute', 'second', 'current_temperature', 'thermostat_status_0', 'thermostat_status_1', 'label']

In [11]:
df = df[new_order]

In [12]:
df

,hour,minute,second,current_temperature,thermostat_status_0,thermostat_status_1,label
0,12.0,36.0,52.0,25.000000,1.0,0.0,0
1,12.0,36.0,53.0,25.000000,1.0,0.0,0
2,12.0,36.0,54.0,25.000000,1.0,0.0,0
3,12.0,36.0,55.0,25.000000,1.0,0.0,0
4,12.0,36.0,56.0,25.000000,1.0,0.0,0
...,...,...,...,...,...,...,...
442223,12.0,41.0,14.0,29.804525,0.0,1.0,0
442224,12.0,41.0,18.0,25.824332,0.0,1.0,0
442225,12.0,41.0,19.0,27.248819,0.0,1.0,0
442226,12.0,41.0,19.0,29.739201,0.0,1.0,0
442227,12.0,41.0,20.0,29.658987,0.0,1.0,0

In [13]:
df.to_csv('./preprocessed_data/Thermostat_GD.csv', index=False)