In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

# CSVファイルを読み込む
df = pd.read_csv("/home/eiji/project/g/preprocessed_data/LE_TON-iot.csv")

# temp_conditionの文字列をトリム（前後の空白削除）
df['temp_condition'] = df['temp_condition'].str.strip()

# 一意の値をチェック
print(df['temp_condition'].unique())

# ラベルエンコーディングを実行
df['temp_condition_encoded'] = df['temp_condition'].map({'low': 0, 'high': 1})
# エンコード結果を確認
print(df[['temp_condition', 'temp_condition_encoded']])


# エンコード結果を確認
# print(df[['temp_condition', 'temp_condition_encoded']])

df.head()
# df_combined = pd.concat([df, encoded_df], axis=1)

['high' 'low']
       temp_condition  temp_condition_encoded
0                high                       1
1                high                       1
2                 low                       0
3                 low                       0
4                high                       1
...               ...                     ...
587071            low                       0
587072           high                       1
587073           high                       1
587074           high                       1
587075            low                       0

[587076 rows x 2 columns]

,date,time,fridge_temperature,temp_condition,label,type,temp_condition_encoded
0,31-Mar-19,12:36:52,13.10,high,0,normal,1
1,31-Mar-19,12:36:53,8.65,high,0,normal,1
2,31-Mar-19,12:36:54,2.00,low,0,normal,0
3,31-Mar-19,12:36:55,4.80,low,0,normal,0
4,31-Mar-19,12:36:56,10.70,high,0,normal,1

In [3]:
df['time'] = df['time'].str.strip()

In [4]:
df['time']  = pd.to_datetime(df['time'], format='%H:%M:%S').dt.time

In [5]:
df['hour'] = df['time'].apply(lambda x: x.hour)
df['minute'] = df['time'].apply(lambda x: x.minute)
df['second'] = df['time'].apply(lambda x: x.second)

In [6]:
df = df.drop(columns=['date', 'time', 'temp_condition', 'type'])

In [8]:
new_order = ['hour', 'minute', 'second', 'fridge_temperature', "temp_condition_encoded", 'label']

In [9]:
df = df[new_order]

In [10]:
df

,hour,minute,second,fridge_temperature,temp_condition_encoded,label
0,12,36,52,13.10,1,0
1,12,36,53,8.65,1,0
2,12,36,54,2.00,0,0
3,12,36,55,4.80,0,0
4,12,36,56,10.70,1,0
...,...,...,...,...,...,...
587071,12,41,17,4.00,0,0
587072,12,41,17,6.05,1,0
587073,12,41,17,12.80,1,0
587074,12,41,18,6.50,1,0
587075,12,41,20,5.30,0,0

In [11]:
df.to_csv('./preprocessed_data/LE_TON-iot.csv', index=False)